My_Source_Code/chapter_*/sample_*/sample*/*.txt.user
My_Source_Code/chapter_*/sample_*/Test*/*.pro.user
My_Source_Code/chapter_*/sample_*/Test*/*.txt.user
My_Source_Code/chapter_*/sample_*/*ignored
My_Source_Code/chapter_*/sample_*/build-*
.vscode